:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;
  --button-color: #1a1a1a;
  --button-hover-txt: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;
  --button-color: #cccccc;
  --button-hover-txt: #1a1a1a;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.btn {
  background-color: transparent;
  color: var(--button-color);
  border-color: var(--button-color);
}

.btn:hover {
  background-color: var(--button-color);
  color: var(--button-hover-txt);
}

.form-control,
.form-control:focus {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

a,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* @media screen and (max-width: 700px) {
  .d-flex {
    display: unset !important;
    height: 100%;
  }

  .color-item {
    height: 20vh !important;
    width: 100% !important;
  }
} */

.shade {
  height: 10.67vh;
  display: flex;
  cursor: pointer;
}

.top {
  height: 4vh;
  display: flex;
  padding-left: 1px;
}

.vh-90 {
  height: 96vh;
}

.btn-group-vertical > .btn:hover {
  background-color: unset;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
}
