:root,
html[data-theme="light"] {
  --primary-bg: hsl(30 49 80);
  --primary-txt: #1a1a1a;

  --btn-color: hsl(349 79 29);
  --btn-hover-txt: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg:  hsl(29 16 10);
  --primary-txt: #cccccc;

  --btn-color: hsl(26 69 53);
  --btn-hover-txt: #1a1a1a;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.body {
  height: 100vh;
  display: flex;
}

.inner {
  height: 99%;
  width: 99%;
  margin: auto;
  /* border: 0.5px solid red; */
}

.btn-custom {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: background-color 0.25s;
  padding: 2.5px 10px;
  font-size: 0.875rem;
  margin: 1px;
}

.btn-custom:hover,
.btn-custom.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.nav {
  height: 5%;
  display: flex;
  /* border: 0.5px solid red; */
  justify-content: space-between;
}

.nav > div {
  margin-top: auto;
  margin-bottom: auto;
}

.color-panel {
  /* border: 0.5px solid red; */
  height: 95%;
  display: flex;
}

.color {
  width: 20%;
  height: 100%;
  /* border: 0.5px solid red; */
  display: flex;
  background-color: var(--primary-bg);
}

.color-inner {
  margin: auto;
  height: 100%;
  width: 98%;
  border-radius: 10px;
  display: flex;
}

@media screen and (max-width: 1050px) {
  .color-panel {
    flex-direction: column;
  }

  .color {
    width: 100%;
    height: 20%;
  }

  .color-inner {
    height: 98%;
    width: 100%;
  }
}
