.btn {
  background-color: transparent;
  border: 0.5px solid #161a1d;
  color: #161a1d;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}

.btn:hover,
.btn.active,
.dropdown-item.active,
.dropdown-item:hover {
  background-color: #161a1d;
  color: #cccccc;
}

.btn:disabled {
  opacity: 25%;
}

.color-item .btn {
  color: inherit;
}

.color-item .btn:hover {
  opacity: 25%;
  background-color: transparent;
}

.dropdown-menu,
.dropdown-item {
  background-color: inherit;
  color: inherit;
}

.dropdown-menu {
  background-color: white;
  padding: 2px;
  border-radius: 2px;
}

.dropdown-item {
  letter-spacing: 1.5px;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 2px;
  /* margin: 2px; */
}

.body {
  height: 100vh;
  width: 100vw;
  /* border: 1px solid red; */
}

.nav-custom {
  height: 7.5vh;
  border-bottom: 0.5px solid;
  display: flex;
  /* padding: 0px; */
}

.nav-custom .btn {
  margin: 2px;
}

.inner {
  height: 92.5vh;
  display: flex;
}

.color-item {
  flex: 1;
  display: flex;
  /* padding: 20px; */
  flex-direction: column;
  justify-content: space-between;
}

.color-label {
  /* font-size: 2rem; */
  font-weight: bold;
  text-align: center;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #35643d;
}

.btn-flex {
  flex-direction: column;
  display: flex;
}

.color-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.between {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .inner {
    flex-direction: column;
    overflow-y: auto;
  }

  .btn-flex {
    flex-direction: unset;
  }

  .color-inner {
    flex-direction: row-reverse;
  }

  .color-label {
    margin-top: auto;
    margin-bottom: auto;
  }
}
